@import "../../../base-styles/colors";
@import "../../../base-styles/typography";

.activity {
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.name {
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}

.name_initial_wrapper {
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  background: $secCol;
  border-radius: 100%;
}

.name_initial {
  @include sm-text;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

.user {
  @include md-text;
  line-height: 23px;
  margin-right: 10px;
}

.text {
  @include sm-text;
}

.status {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
