@import "../../base-styles/colors";

.container {
  border: 1px solid $borderCol;
  border-radius: 20px;
  margin: 16px 16px 50px;
 // box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.179);
  padding: 16px;
  flex: 1
}
